{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<article class="post hentry">
	<header>
		<h1 class="entry-title" itemprop="name">{{ post.title }}</h1>
		
		<abbr class="published updated" title="{{ post.date | date_to_xmlschema }}">
			{{ post.date | date_to_string }}
		</abbr>
		<address class="vcard author"><span class="fn">{{ post.author }}</span></address>
	</header>
	
	<section class="entry-content">
		<span style="display: none;" itemprop="description">{{ post.description }}</span>

		{{ content }}

	</section>

	<footer class="end-of-post">
		<g:plusone size="medium" href="{{ site.domain }}{{ post.url }}"></g:plusone>
		<a href="https://twitter.com/share" class="twitter-share-button"
			data-url="{{ site.domain }}{{ post.url }}" text="{{ post-title }}">
			Tweet
		</a>
		<span class="entry-tags">
			{% for tag in post.tags %}
			<a href="/tag#{{ tag }}" rel="tag">{{ tag }}</a>
			{% endfor %}
		</span>
	</footer>
</article>

