{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<article class="post hentry">
	<header>
		<h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark">
		<span itemprop="name">{{ post.title }}</span>
		</a></h1>

		<span style="display: none;" itemprop="description">{{ post.description }}</span>
		
		<abbr class="published updated" title="{{ post.date | date_to_xmlschema }}">
			{{ post.date | date_to_string }}
		</abbr>
		<address class="vcard author"><span class="fn">{{ post.author }}</span></address>
	</header>
	
	<section class="entry-content">{{ content }}</section>

	<footer class="end-of-post">
		<g:plusone size="medium" href="{{ site.domain }}{{ post.url }}"></g:plusone>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.domain }}{{ post.url }}">Tweet</a>
		<div class="fb-like" data-href="{{ site.domain}}{{ post.url }}" data-send="false" data-layout="button_count" data-width="110" data-show-faces="false"></div>
		<span class="entry-tags">
			{% for tag in post.tags %}
			<a href="/tag#{{ tag }}" rel="tag">{{ tag }}</a>
			{% endfor %}
		</span>
	</footer>
</article>

