<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>	  <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>	  <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% if page.title %} <title>Muiku blog &raquo; {{ page.title }}</title>
	{% else %} <title>Muiku blog</title> {% endif %}
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	<style type="text/css">
		.post .published, .post .entry-tags { float: right; }
		.post .entry-title { margin-bottom: 5px; }
		.end-of-post { border-top: 1px dashed #999; padding-top: 5px; }
		.posts-list .author { display: none; }

		.fb-like { vertical-align: top; }
		#disqus_thread { margin-top: 20px; }
	</style>

	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="header-container">
	<header class="wrapper clearfix">
		<h1 id="title"><a href="/">Muiku blog</a></h1>
		<nav>{% include menulist.html %}</nav>
	</header>
</div>

<div id="main-container">
	<div id="main" role="main" class="wrapper clearfix">

		{{ content }}

	</div>
</div>

<div id="footer-container">
	<footer class="wrapper">
		<h3>&copy; <a href="http://www.muiku.com" target="_blank">Muiku Oy</a></h3>
	</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("a.fancy").fancybox({
		'transitionIn'	: 'elastic',
		'transitionOut'	: 'elastic',
		'speedIn'	: 600, 
		'speedOut'	: 200, 
		'overlayShow'	: false,
		'titleShow'	: false
	});
});

/* Google +1 */
(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();

/* Tweet button */
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

</body>
</html>
